//due to some isues about the quasar, this colors declared at quasar-user-option.js file
$primary: #ff0000;
$secondary: #757575;
$accent: #fbfbfb;

$dark: #000000;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
